{% extends 'base.html' %}
{% load static %}
{% block title %}
    blog page
{% endblock %}

{% block content %}
    <br>
    <section>
        <div class="container">
            {% for blog in blogs %}
                <div class="card">
                    <div class="card-header">
                        {{ blog.title }}
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p class="text-justify"style="font-size: 14px">{{ blog.textfild }}</p>
                            <footer>
                                <div class="container">
                                    <div class="blockquote-footer">
                                        <cite title="Source Title">{{ blog.date }}</cite>
                                        <p style="float: right"><a href="{% url 'postDetails' blog.id %}">Read More</a></p>
                                    </div>
                                </div>
                            </footer>
                        </blockquote>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
    </section>
{% endblock %}