<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!--  CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
        <title>
            {% block title %}
            
            {% endblock %}
        </title>
    </head>
    <body>
        <section>
            <nav class="navbar navbar-expand-lg navbar-light " style="background: #0D0D0D">
                <div class="container">
                    <a class="navbar-brand text-light font-weight-bold" style="font-size: 28px" href="#">Sayeed Amin</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link text-light font-weight-bold " href="{% url 'portfolio' %}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light font-weight-bold "  href="{% url 'pdf' %}">CV</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light font-weight-bold " href="{% url 'all_blog' %}" tabindex="-1" aria-disabled="true">Blog</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
        <section>
            {% block content %}
            
            {% endblock %}
        </section>
    
        <!-- Optional JavaScript -->
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
    </body>
</html>